/.idea/
/auto_patcher/.idea/
/auto_patcher/.vs/
/auto_patcher/bin/
/auto_patcher/obj/
/auto_patcher/Folder.DotSettings.user
/auto_patcher/test/
/auto_patcher/Properties/
/auto_patcher/auto_patcher.csproj.user
/auto_patcher_gui/bin/
/auto_patcher_gui/obj/
/auto_patcher_gui/Properties/PublishProfiles/FolderProfile.pubxml.user
